html,
body,
#app,
div {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.outer {
  width: 100%;
  height: 100%;
  display: table;
}

.inner {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 100%;
  width: 100%;
  font-size: 3em;
  cursor: pointer;
}

.red {
  background-color: rgb(238, 115, 115);
}

.green {
  background-color: rgb(115, 238, 131);
}

.yellow {
  background-color: rgb(238, 230, 115);
}

.blue {
  background-color: rgb(115, 168, 238);
}
